doctype html 
html 
    head 
        meta(charset='utf-8')
        title API Server 
        meta(author='yyr')
        link(rel='stylesheet', href='/layout.css')
    body 
        block content
        block script 